# Mimic III Dataset

In [ ]:
!pip install -qU pinecone-client langchain openai sqlalchemy tiktoken cohere ipython-sql

In [1]:
%load_ext sql

Directly download files in colab
!wget -r -N -c -np https://physionet.org/files/mimiciii-demo/1.4/

In [12]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Float, text
import pandas as pd
import os

# Create a SQLAlchemy engine with an in-memory SQLite database
engine = create_engine("sqlite:///mimic3.db",pool_pre_ping=True)
engine.connect()

In [10]:
csv_directory = 'medmind_langserve/mimic-iii-clinical-database-demo-1.4'
# List to store table objects
tables = []

# Iterate over CSV files in the directory
for file_name in os.listdir(csv_directory):
  if file_name.endswith(".csv"):
    # Use the CSV file name (without extension) as the table name
    table_name = os.path.splitext(file_name)[0]
    tables.append(table_name)
    # Read CSV file into a pandas DataFrame
    df = pd.read_csv(os.path.join(csv_directory, file_name), low_memory=False)
    print(df.head())

    # Insert data into the table
    df.to_sql(con=engine,name = table_name,  if_exists='replace', index=False)

   row_id  subject_id  hadm_id            admittime            dischtime  \
0   12258       10006   142345  2164-10-23 21:09:00  2164-11-01 17:15:00
1   12263       10011   105331  2126-08-14 22:32:00  2126-08-28 18:59:00
2   12265       10013   165520  2125-10-04 23:36:00  2125-10-07 15:13:00
3   12269       10017   199207  2149-05-26 17:19:00  2149-06-03 18:42:00
4   12270       10019   177759  2163-05-14 20:43:00  2163-05-15 12:00:00

             deathtime admission_type         admission_location  \
0                  NaN      EMERGENCY       EMERGENCY ROOM ADMIT
1  2126-08-28 18:59:00      EMERGENCY  TRANSFER FROM HOSP/EXTRAM
2  2125-10-07 15:13:00      EMERGENCY  TRANSFER FROM HOSP/EXTRAM
3                  NaN      EMERGENCY       EMERGENCY ROOM ADMIT
4  2163-05-15 12:00:00      EMERGENCY  TRANSFER FROM HOSP/EXTRAM

  discharge_location insurance language  religion marital_status  \
0   HOME HEALTH CARE  Medicare      NaN  CATHOLIC      SEPARATED
1       DEAD/EXPIRED   Private      NaN  CATHOLIC         SINGLE
2       DEAD/EXPIRED  Medicare      NaN  CATHOLIC            NaN
3                SNF  Medicare      NaN  CATHOLIC       DIVORCED
4       DEAD/EXPIRED  Medicare      NaN  CATHOLIC       DIVORCED

                ethnicity            edregtime            edouttime  \
0  BLACK/AFRICAN AMERICAN  2164-10-23 16:43:00  2164-10-23 23:00:00
1   UNKNOWN/NOT SPECIFIED                  NaN                  NaN
2   UNKNOWN/NOT SPECIFIED                  NaN                  NaN
3                   WHITE  2149-05-26 12:08:00  2149-05-26 19:45:00
4                   WHITE                  NaN                  NaN

             diagnosis  hospital_expire_flag  has_chartevents_data
0               SEPSIS                     0                     1
1          HEPATITIS B                     1                     1
2               SEPSIS                     1                     1
3     HUMERAL FRACTURE                     0                     1
4  ALCOHOLIC HEPATITIS                     1                     1

OperationalError: (sqlite3.OperationalError) database is locked
[SQL:
DROP TABLE "ADMISSIONS"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [15]:
csv_directory = 'medmind_langserve/mimic-iii-clinical-database-demo-1.4'
# List to store table objects
tables = []

# Iterate over CSV files in the directory
for file_name in os.listdir(csv_directory):
  if file_name.endswith(".csv"):
    # Use the CSV file name (without extension) as the table name
    table_name = os.path.splitext(file_name)[0]
    tables.append(table_name)

In [16]:
tables, len(tables)

(['ADMISSIONS',
  'CALLOUT',
  'CAREGIVERS',
  'CHARTEVENTS',
  'CPTEVENTS',
  'DATETIMEEVENTS',
  'DIAGNOSES_ICD',
  'DRGCODES',
  'D_CPT',
  'D_ICD_DIAGNOSES',
  'D_ICD_PROCEDURES',
  'D_ITEMS',
  'D_LABITEMS',
  'ICUSTAYS',
  'INPUTEVENTS_CV',
  'INPUTEVENTS_MV',
  'LABEVENTS',
  'MICROBIOLOGYEVENTS',
  'OUTPUTEVENTS',
  'PATIENTS',
  'PRESCRIPTIONS',
  'PROCEDUREEVENTS_MV',
  'PROCEDURES_ICD',
  'SERVICES',
  'TRANSFERS'],
 25)

In [17]:
# Confirm data insertion
for table_name in tables:
  result_data = pd.read_sql(text(f"SELECT * FROM '{table_name}' LIMIT 5"),engine.connect())
  print(f"\nContents of table '{table_name}':")
  print(result_data)

Contents of table 'ADMISSIONS':
   row_id  subject_id  hadm_id            admittime            dischtime  \
0   12258       10006   142345  2164-10-23 21:09:00  2164-11-01 17:15:00
1   12263       10011   105331  2126-08-14 22:32:00  2126-08-28 18:59:00
2   12265       10013   165520  2125-10-04 23:36:00  2125-10-07 15:13:00
3   12269       10017   199207  2149-05-26 17:19:00  2149-06-03 18:42:00
4   12270       10019   177759  2163-05-14 20:43:00  2163-05-15 12:00:00

             deathtime admission_type         admission_location  \
0                 None      EMERGENCY       EMERGENCY ROOM ADMIT
1  2126-08-28 18:59:00      EMERGENCY  TRANSFER FROM HOSP/EXTRAM
2  2125-10-07 15:13:00      EMERGENCY  TRANSFER FROM HOSP/EXTRAM
3                 None      EMERGENCY       EMERGENCY ROOM ADMIT
4  2163-05-15 12:00:00      EMERGENCY  TRANSFER FROM HOSP/EXTRAM

  discharge_location insurance language  religion marital_status  \
0   HOME HEALTH CARE  Medicare     None  CATHOLIC      SEPARATED
1       DEAD/EXPIRED   Private     None  CATHOLIC         SINGLE
2       DEAD/EXPIRED  Medicare     None  CATHOLIC           None
3                SNF  Medicare     None  CATHOLIC       DIVORCED
4       DEAD/EXPIRED  Medicare     None  CATHOLIC       DIVORCED

                ethnicity            edregtime            edouttime  \
0  BLACK/AFRICAN AMERICAN  2164-10-23 16:43:00  2164-10-23 23:00:00
1   UNKNOWN/NOT SPECIFIED                 None                 None
2   UNKNOWN/NOT SPECIFIED                 None                 None
3                   WHITE  2149-05-26 12:08:00  2149-05-26 19:45:00
4                   WHITE                 None                 None

             diagnosis  hospital_expire_flag  has_chartevents_data
0               SEPSIS                     0                     1
1          HEPATITIS B                     1                     1
2               SEPSIS                     1                     1
3     HUMERAL FRACTURE                     0                     1
4  ALCOHOLIC HEPATITIS                     1                     1

Contents of table 'CALLOUT':
   row_id  subject_id  hadm_id  submit_wardid submit_careunit  curr_wardid  \
0    3917       10017   199207              7            None           45
1    3919       10026   103770             33            None            3
2    3920       10027   199395             12            None           55
3    3921       10029   132349             33            None           45
4    3922       10033   157235             33            None            4

  curr_careunit  callout_wardid callout_service  request_tele  ...  \
0           CCU               1             MED             1  ...
1          SICU               3            NMED             1  ...
2          CSRU              55           CSURG             1  ...
3          SICU               1             MED             0  ...
4          SICU               1             MED             1  ...

   callout_status  callout_outcome  discharge_wardid  acknowledge_status  \
0        Inactive       Discharged              45.0        Acknowledged
1        Inactive       Discharged               3.0             Revised
2        Inactive       Discharged              55.0        Acknowledged
3        Inactive       Discharged              45.0        Acknowledged
4        Inactive       Discharged               4.0             Revised

            createtime           updatetime      acknowledgetime  \
0  2149-05-31 10:44:34  2149-05-31 10:44:34  2149-05-31 15:08:04
1  2195-05-18 13:56:20  2195-05-19 15:45:30                 None
2  2190-07-20 08:15:20  2190-07-20 08:15:20  2190-07-20 08:57:46
3  2139-09-24 09:53:37  2139-09-24 09:53:37  2139-09-24 09:56:02
4  2132-12-06 10:16:08  2132-12-06 14:53:53                 None

           outcometime firstreservationtime currentreservationtime
0  2149-05-31 22:40:02                 None                   None
1  2195-05-19 17:40:03                 None                   None
2  2190-07-20 17:10:02                 None                   None
3  2139-09-25 19:10:01                 None                   None
4  2132-12-06 15:10:02                 None                   None

[5 rows x 24 columns]

Contents of table 'CAREGIVERS':
   row_id   cgid label            description
0    2228  16174    RO              Read Only
1    2229  16175    RO              Read Only
2    2230  16176   Res  Resident/Fellow/PA/NP
3    2231  16177    RO              Read Only
4    2232  16178    RT            Respiratory

Contents of table 'CHARTEVENTS':
    row_id  subject_id  hadm_id  icustay_id  itemid            charttime  \
0  5279021       40124   126179    279554.0  223761  2130-02-04 04:00:00
1  5279022       40124   126179    279554.0  224695  2130-02-04 04:25:00
2  5279023       40124   126179    279554.0  220210  2130-02-04 04:30:00
3  5279024       40124   126179    279554.0  220045  2130-02-04 04:32:00
4  5279025       40124   126179    279554.0  220179  2130-02-04 04:32:00

             storetime   cgid      value   valuenum  valueuom  warning  error  \
0  2130-02-04 04:35:00  19085       95.9       95.9        ?F      0.0    0.0
1  2130-02-04 05:55:00  18999  2222221.7  2222221.7     cmH2O      0.0    0.0
2  2130-02-04 04:43:00  21452         15       15.0  insp/min      0.0    0.0
3  2130-02-04 04:43:00  21452         94       94.0       bpm      0.0    0.0
4  2130-02-04 04:43:00  21452        163      163.0      mmHg      0.0    0.0

  resultstatus stopped
0         None    None
1         None    None
2         None    None
3         None    None
4         None    None

Contents of table 'CPTEVENTS':
   row_id  subject_id  hadm_id costcenter chartdate  cpt_cd  cpt_number  \
0    4615       10117   105150        ICU      None   99254       99254
1    4616       10117   105150        ICU      None   99231       99231
2    4617       10117   105150        ICU      None   90935       90935
3    4618       10117   105150        ICU      None   99231       99231
4    7753       10111   174739        ICU      None   99253       99253

  cpt_suffix  ticket_id_seq              sectionheader  \
0       None            1.0  Evaluation and management
1       None            2.0  Evaluation and management
2       None            3.0                   Medicine
3       None            4.0  Evaluation and management
4       None            1.0  Evaluation and management

              subsectionheader description
0                Consultations        None
1  Hospital inpatient services        None
2                     Dialysis        None
3  Hospital inpatient services        None
4                Consultations        None

Contents of table 'DATETIMEEVENTS':
   row_id  subject_id  hadm_id  icustay_id  itemid            charttime  \
0  208474       10076   198503    201006.0    5684  2107-03-25 04:00:00
1  208475       10076   198503    201006.0    5684  2107-03-25 07:00:00
2  208836       10076   198503    201006.0    5684  2107-03-26 04:00:00
3  208837       10076   198503    201006.0    5684  2107-03-26 08:00:00
4  208838       10076   198503    201006.0    5684  2107-03-26 16:00:00

             storetime   cgid                value valueuom warning error  \
0  2107-03-25 04:34:00  20482  2107-03-24 00:00:00     Date    None  None
1  2107-03-25 07:06:00  15004  2107-03-24 00:00:00     Date    None  None
2  2107-03-26 05:31:00  20834  2107-03-24 00:00:00     Date    None  None
3  2107-03-26 08:33:00  17480  2107-03-24 00:00:00     Date    None  None
4  2107-03-26 16:08:00  17480  2107-03-24 00:00:00     Date    None  None

  resultstatus   stopped
0         None  NotStopd
1         None  NotStopd
2         None  NotStopd
3         None  NotStopd
4         None  NotStopd

Contents of table 'DIAGNOSES_ICD':
   row_id  subject_id  hadm_id  seq_num icd9_code
0  112344       10006   142345        1     99591
1  112345       10006   142345        2     99662
2  112346       10006   142345        3      5672
3  112347       10006   142345        4     40391
4  112348       10006   142345        5     42731

Contents of table 'DRGCODES':
   row_id  subject_id  hadm_id drg_type  drg_code  \
0    1338       10130   156668     HCFA       148
1    2188       10114   167957     HCFA       518
2    2599       10117   187023     HCFA       185
3    2703       10046   133110     HCFA         1
4    3020       10011   105331     HCFA       205

                                         description drg_severity  \
0  MAJOR SMALL & LARGE BOWEL PROCEDURES WITH COMP...         None
1  PERCUTANEOUS CARDIOVASCULAR PROCEDURES WITHOUT...         None
2  DENTAL & ORAL DIS EXCEPT EXTRACTIONS & RESTORA...         None
3               CRANIOTOMY AGE >17 EXCEPT FOR TRAUMA         None
4  DISORDERS OF LIVER EXCEPT MALIGNANCY, CIRRHOSI...         None

  drg_mortality
0          None
1          None
2          None
3          None
4          None

Contents of table 'D_CPT':
   row_id  category sectionrange              sectionheader subsectionrange  \
0       1         1  99201-99499  Evaluation and management     99201-99216
1       2         1  99201-99499  Evaluation and management     99217-99220
2       3         1  99201-99499  Evaluation and management     99221-99239
3       4         1  99201-99499  Evaluation and management     99241-99255
4       5         1  99201-99499  Evaluation and management     99261-99263

                                    subsectionheader codesuffix  \
0                   Office/other outpatient services       None
1                      Hospital observation services       None
2                        Hospital inpatient services       None
3                                      Consultations       None
4  Follow-up inpatient consultations (deleted codes)       None

   mincodeinsubsection  maxcodeinsubsection
0                99201                99216
1                99217                99220
2                99221                99239
3                99241                99255
4                99261                99263

Contents of table 'D_ICD_DIAGNOSES':
   row_id icd9_code               short_title  \
0       1     01716   Erythem nod tb-oth test
1       2     01720    TB periph lymph-unspec
2       3     01721   TB periph lymph-no exam
3       4     01722  TB periph lymph-exam unk
4       5     01723  TB periph lymph-micro dx

                                          long_title
0  Erythema nodosum with hypersensitivity reactio...
1  Tuberculosis of peripheral lymph nodes, unspec...
2  Tuberculosis of peripheral lymph nodes, bacter...
3  Tuberculosis of peripheral lymph nodes, bacter...
4  Tuberculosis of peripheral lymph nodes, tuberc...

Contents of table 'D_ICD_PROCEDURES':
   row_id  icd9_code               short_title  \
0       1       1423  Chorioret les xenon coag
1       2       1424  Chorioret les laser coag
2       3       1425  Chorioret les p/coag NOS
3       4       1426   Chorioret les radiother
4       5       1427  Chorioret les rad implan

                                          long_title
0  Destruction of chorioretinal lesion by xenon a...
1  Destruction of chorioretinal lesion by laser p...
2  Destruction of chorioretinal lesion by photoco...
3  Destruction of chorioretinal lesion by radiati...
4  Destruction of chorioretinal lesion by implant...

Contents of table 'D_ITEMS':
   row_id  itemid                 label abbreviation dbsource      linksto  \
0       1    1435    Sustained Nystamus         None  carevue  chartevents
1       2    1436  Tactile Disturbances         None  carevue  chartevents
2       3    1437                Tremor         None  carevue  chartevents
3       4    1438   Ulnar Pulse [Right]         None  carevue  chartevents
4       5    1439   Visual Disturbances         None  carevue  chartevents

  category unitname param_type conceptid
0     None     None       None      None
1     None     None       None      None
2     None     None       None      None
3     None     None       None      None
4     None     None       None      None

Contents of table 'D_LABITEMS':
   row_id  itemid                                label  fluid   category  \
0       1   50800                        SPECIMEN TYPE  BLOOD  BLOOD GAS
1       2   50801           Alveolar-arterial Gradient  Blood  Blood Gas
2       3   50802                          Base Excess  Blood  Blood Gas
3       4   50803  Calculated Bicarbonate, Whole Blood  Blood  Blood Gas
4       5   50804                 Calculated Total CO2  Blood  Blood Gas

  loinc_code
0       None
1    19991-9
2    11555-0
3     1959-6
4    34728-6

Contents of table 'ICUSTAYS':
   row_id  subject_id  hadm_id  icustay_id dbsource first_careunit  \
0   12742       10006   142345      206504  carevue           MICU
1   12747       10011   105331      232110  carevue           MICU
2   12749       10013   165520      264446  carevue           MICU
3   12754       10017   199207      204881  carevue            CCU
4   12755       10019   177759      228977  carevue           MICU

  last_careunit  first_wardid  last_wardid               intime  \
0          MICU            52           52  2164-10-23 21:10:15
1          MICU            15           15  2126-08-14 22:34:00
2          MICU            15           15  2125-10-04 23:38:00
3           CCU             7            7  2149-05-29 18:52:29
4          MICU            15           15  2163-05-14 20:43:56

               outtime      los
0  2164-10-25 12:21:07   1.6325
1  2126-08-28 18:59:00  13.8507
2  2125-10-07 15:13:52   2.6499
3  2149-05-31 22:19:17   2.1436
4  2163-05-16 03:47:04   1.2938

Contents of table 'INPUTEVENTS_CV':
   row_id  subject_id  hadm_id  icustay_id            charttime  itemid  \
0    1184       10114   167957      234989  2171-11-03 15:00:00   30056
1    1185       10114   167957      234989  2171-11-03 20:00:00   30056
2    1186       10114   167957      234989  2171-11-03 23:00:00   30056
3    1187       10114   167957      234989  2171-11-04 02:00:00   30056
4    1188       10114   167957      234989  2171-11-04 05:00:00   30056

   amount amountuom  rate rateuom  ...   orderid  linkorderid  stopped  \
0   400.0        ml  None    None  ...   2557279      2557279     None
1   120.0        ml  None    None  ...   7828849      2557279     None
2   120.0        ml  None    None  ...   2744159      2557279     None
3   120.0        ml  None    None  ...   8475006      2557279     None
4   120.0        ml  None    None  ...  11183474      2557279     None

   newbottle originalamount originalamountuom originalroute originalrate  \
0       None           None                ml          Oral         None
1       None           None                ml          Oral         None
2       None           None                ml          Oral         None
3       None           None                ml          Oral         None
4       None           None                ml          Oral         None

  originalrateuom originalsite
0            None         None
1            None         None
2            None         None
3            None         None
4            None         None

[5 rows x 22 columns]

Contents of table 'INPUTEVENTS_MV':
   row_id  subject_id  hadm_id  icustay_id            starttime  \
0  118897       42367   139932      250305  2147-10-29 16:45:00
1  118898       42367   139932      250305  2147-10-20 13:17:00
2  118899       42367   139932      250305  2147-10-29 03:23:00
3  118900       42367   139932      250305  2147-10-22 22:00:00
4  118901       42367   139932      250305  2147-10-16 06:21:00

               endtime  itemid       amount amountuom        rate  ...  \
0  2147-10-29 16:46:00  225799    60.000000        ml         NaN  ...
1  2147-10-20 13:18:00  223258    10.000000     units         NaN  ...
2  2147-10-29 03:53:00  226089    99.999999        ml  199.999998  ...
3  2147-10-22 22:01:00  225799    40.000000        ml         NaN  ...
4  2147-10-17 06:10:00  225936  1309.899995        ml   54.999300  ...

  totalamountuom isopenbag  continueinnextdept  cancelreason  \
0             ml         0                   0             0
1           None         0                   0             1
2             ml         0                   0             0
3             ml         0                   0             0
4             ml         0                   0             0

   statusdescription comments_editedby comments_canceledby  \
0    FinishedRunning              None                None
1          Rewritten              None                  RN
2    FinishedRunning              None                None
3    FinishedRunning              None                None
4    FinishedRunning              None                None

         comments_date originalamount  originalrate
0                 None           60.0     60.000000
1  2147-10-20 13:18:00           10.0     10.000000
2                 None          100.0    200.000000
3                 None           40.0     40.000000
4                 None         1309.9     54.999298

[5 rows x 31 columns]

Contents of table 'LABEVENTS':
    row_id  subject_id hadm_id  itemid            charttime value  valuenum  \
0  6244563       10006    None   50868  2164-09-24 20:21:00    19      19.0
1  6244564       10006    None   50882  2164-09-24 20:21:00    27      27.0
2  6244565       10006    None   50893  2164-09-24 20:21:00  10.0      10.0
3  6244566       10006    None   50902  2164-09-24 20:21:00    97      97.0
4  6244567       10006    None   50912  2164-09-24 20:21:00   7.0       7.0

  valueuom      flag
0    mEq/L      None
1    mEq/L      None
2    mg/dL      None
3    mEq/L      None
4    mg/dL  abnormal

Contents of table 'MICROBIOLOGYEVENTS':
   row_id  subject_id  hadm_id            chartdate            charttime  \
0  134694       10006   142345  2164-10-23 00:00:00  2164-10-23 15:30:00
1  134695       10006   142345  2164-10-23 00:00:00  2164-10-23 15:30:00
2  134696       10006   142345  2164-10-23 00:00:00  2164-10-23 15:30:00
3  134697       10006   142345  2164-10-23 00:00:00  2164-10-23 15:30:00
4  134698       10006   142345  2164-10-23 00:00:00  2164-10-23 15:30:00

   spec_itemid spec_type_desc  org_itemid                            org_name  \
0        70012  BLOOD CULTURE     80155.0  STAPHYLOCOCCUS, COAGULASE NEGATIVE
1        70012  BLOOD CULTURE     80155.0  STAPHYLOCOCCUS, COAGULASE NEGATIVE
2        70012  BLOOD CULTURE     80155.0  STAPHYLOCOCCUS, COAGULASE NEGATIVE
3        70012  BLOOD CULTURE     80155.0  STAPHYLOCOCCUS, COAGULASE NEGATIVE
4        70012  BLOOD CULTURE     80155.0  STAPHYLOCOCCUS, COAGULASE NEGATIVE

   isolate_num  ab_itemid       ab_name dilution_text dilution_comparison  \
0          2.0        NaN          None          None                None
1          1.0    90015.0    VANCOMYCIN             2                   =
2          1.0    90012.0    GENTAMICIN         <=0.5                  <=
3          1.0    90025.0  LEVOFLOXACIN             4                   =
4          1.0    90016.0     OXACILLIN           =>4                  =>

   dilution_value interpretation
0             NaN           None
1             2.0              S
2             1.0              S
3             4.0              I
4             4.0              R

Contents of table 'OUTPUTEVENTS':
   row_id  subject_id  hadm_id  icustay_id            charttime  itemid  \
0    6540       10114   167957    234989.0  2171-10-30 20:00:00   40055
1    6541       10114   167957    234989.0  2171-10-30 21:00:00   40055
2    6542       10114   167957    234989.0  2171-10-30 23:00:00   40055
3    6543       10114   167957    234989.0  2171-10-31 00:00:00   40055
4    6544       10114   167957    234989.0  2171-10-31 02:00:00   40055

   value valueuom            storetime   cgid stopped newbottle iserror
0   39.0       ml  2171-10-30 20:38:00  15029    None      None    None

In [ ]:
engine.

## Initializing agent

In [17]:
from langchain.agents import AgentType, create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.utilities import SQLDatabase

In [18]:
db = SQLDatabase(engine)

### Initializing LLM

In [54]:
from getpass import getpass
import os
os.environ["OPENAI_API_KEY"] = getpass("OpenAI API Key:")

In [55]:
from langchain.chat_models import ChatOpenAI
llm = ChatOpenAI(
    model_name="gpt-4",
    temperature=0
)

In [60]:
from langchain.memory import ConversationSummaryBufferMemory

memory = ConversationSummaryBufferMemory(memory_key="chat_history",llm=llm)
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

In [68]:
custom_prefix = """
Tables are linked by identifiers which usually have the suffix ‘ID’. For example, SUBJECT_ID refers to a unique patient, HADM_ID refers to a unique admission to the hospital, and ICUSTAY_ID refers to a unique admission to an intensive care unit.

Charted events such as notes, laboratory tests, and fluid balance are stored in a series of ‘events’ tables. For example the OUTPUTEVENTS table contains all measurements related to output for a given patient, while the LABEVENTS table contains laboratory test results for a patient.

Tables prefixed with ‘D_’ are dictionary tables and provide definitions for identifiers. For example, every row of CHARTEVENTS is associated with a single ITEMID which represents the concept measured, but it does not contain the actual name of the measurement. By joining CHARTEVENTS and D_ITEMS on ITEMID, it is possible to identify the concept represented by a given ITEMID.

Broadly speaking, five tables are used to define and track patient stays: ADMISSIONS; PATIENTS; ICUSTAYS; SERVICES; and TRANSFERS. Another five tables are dictionaries for cross-referencing codes against their respective definitions: D_CPT; D_ICD_DIAGNOSES; D_ICD_PROCEDURES; D_ITEMS; and D_LABITEMS. The remaining tables contain data associated with patient care, such as physiological measurements, caregiver observations, and billing information.

In some cases it would be possible to merge tables—for example, the D_ICD_PROCEDURES and CPTEVENTS tables both contain detail relating to procedures and could be combined—but our approach is to keep the tables independent for clarity, since the data sources are significantly different. Rather than combining the tables within MIMIC data model, we suggest researchers develop database views and transforms as appropriate.

Make sure to use tables prefixed with ‘D_’ as much as possible.
"""

agent = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
    prefix=custom_prefix,

)

In [41]:
agent.invoke("how many total patients are there")

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


ADMISSIONS, CALLOUT, CAREGIVERS, CHARTEVENTS, CPTEVENTS, DATETIMEEVENTS, DIAGNOSES_ICD, DRGCODES, D_CPT, D_ICD_DIAGNOSES, D_ICD_PROCEDURES, D_ITEMS, D_LABITEMS, ICUSTAYS, INPUTEVENTS_CV, INPUTEVENTS_MV, LABEVENTS, MICROBIOLOGYEVENTS, NOTEEVENTS, OUTPUTEVENTS, PATIENTS, PRESCRIPTIONS, PROCEDUREEVENTS_MV, PROCEDURES_ICD, SERVICES, TRANSFERS
Invoking: `sql_db_schema` with `{'table_names': 'PATIENTS'}`



CREATE TABLE "PATIENTS" (
	row_id BIGINT,
	subject_id BIGINT,
	gender TEXT,
	dob TEXT,
	dod TEXT,
	dod_hosp TEXT,
	dod_ssn TEXT,
	expire_flag BIGINT
)

/*
3 rows from PATIENTS table:
row_id	subject_id	gender	dob	dod	dod_hosp	dod_ssn	expire_flag
9467	10006	F	2094-03-05 00:00:00	2165-08-12 00:00:00	2165-08-12 00:00:00	2165-08-12 00:00:00	1
9472	10011	F	2090-06-05 00:00:00	2126-08-28 00:00:00	2126-08-28 00:00:00	None	1
9474	10013	F	2038-09-03 00:00:00	2125-10-07 00:00:00	2125-10-07 00:00:00	2125-10-07 00:00:00	1
*/
Invoking: `sql_db_query_checker` with `{'query': 'SELECT COUNT(DISTINCT subject_id) AS Total_Patients FROM PATIENTS'}`


SELECT COUNT(DISTINCT subject_id) AS Total_Patients FROM PATIENTS
Invoking: `sql_db_query` with `{'query': 'SELECT COUNT(DISTINCT subject_id) AS Total_Patients FROM PATIENTS'}`


[(100,)]There are 100 total patients.

> Finished chain.

{'input': 'how many total patients are there',
 'output': 'There are 100 total patients.'}

In [36]:
agent.invoke("Are there any patients who had heart disease diagnosis more than 2 times give their Subject id")

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


ADMISSIONS, CALLOUT, CAREGIVERS, CHARTEVENTS, CPTEVENTS, DATETIMEEVENTS, DIAGNOSES_ICD, DRGCODES, D_CPT, D_ICD_DIAGNOSES, D_ICD_PROCEDURES, D_ITEMS, D_LABITEMS, ICUSTAYS, INPUTEVENTS_CV, INPUTEVENTS_MV, LABEVENTS, MICROBIOLOGYEVENTS, NOTEEVENTS, OUTPUTEVENTS, PATIENTS, PRESCRIPTIONS, PROCEDUREEVENTS_MV, PROCEDURES_ICD, SERVICES, TRANSFERS
Invoking: `sql_db_schema` with `{'table_names': 'DIAGNOSES_ICD'}`
responded: The DIAGNOSES_ICD table seems to be the most relevant for this query as it contains the ICD codes for diagnoses. Let's check the schema of this table.


CREATE TABLE "DIAGNOSES_ICD" (
	row_id BIGINT,
	subject_id BIGINT,
	hadm_id BIGINT,
	seq_num BIGINT,
	icd9_code TEXT
)

/*
3 rows from DIAGNOSES_ICD table:
row_id	subject_id	hadm_id	seq_num	icd9_code
112344	10006	142345	1	99591
112345	10006	142345	2	99662
112346	10006	142345	3	5672
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT subject_id, COUNT(*) as heart_disease_count FROM DIAGNOSES_ICD WHERE icd9_code LIKE '41%' GROUP BY subject_id HAVING heart_disease_count > 2"}`
responded: The DIAGNOSES_ICD table contains the following columns:

- row_id: a unique identifier for each row
- subject_id: a unique identifier for each patient
- hadm_id: a unique identifier for each hospital admission
- seq_num: the sequence number of the diagnosis for a particular admission
- icd9_code: the ICD-9 code for the diagnosis

To find patients who had a heart disease diagnosis more than 2 times, we need to look for patients who have more than 2 entries with an ICD-9 code for heart disease. The ICD-9 codes for heart disease generally start with '41'.

Let's write a SQL query to find these patients.

SELECT subject_id, COUNT(*) as heart_disease_count FROM DIAGNOSES_ICD WHERE icd9_code LIKE '41%' GROUP BY subject_id HAVING heart_disease_count > 2
Invoking: `sql_db_query` with `{'query': "SELECT subject_id, COUNT(*) as heart_disease_count FROM DIAGNOSES_ICD WHERE icd9_code LIKE '41%' GROUP BY subject_id HAVING heart_disease_count > 2"}`


[(10042, 3), (10088, 3), (43827, 3), (43927, 3)]The patients with Subject IDs 10042, 10088, 43827, and 43927 have had a heart disease diagnosis more than 2 times.

> Finished chain.

{'input': 'Are there any patients who had heart disease diagnosis more than 2 times give their Subject id',
 'output': 'The patients with Subject IDs 10042, 10088, 43827, and 43927 have had a heart disease diagnosis more than 2 times.'}

In [58]:
agent.invoke("How many total admissions are present of 10013")

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


ADMISSIONS, CALLOUT, CAREGIVERS, CHARTEVENTS, CPTEVENTS, DATETIMEEVENTS, DIAGNOSES_ICD, DRGCODES, D_CPT, D_ICD_DIAGNOSES, D_ICD_PROCEDURES, D_ITEMS, D_LABITEMS, ICUSTAYS, INPUTEVENTS_CV, INPUTEVENTS_MV, LABEVENTS, MICROBIOLOGYEVENTS, NOTEEVENTS, OUTPUTEVENTS, PATIENTS, PRESCRIPTIONS, PROCEDUREEVENTS_MV, PROCEDURES_ICD, SERVICES, TRANSFERS
Invoking: `sql_db_schema` with `{'table_names': 'ADMISSIONS'}`
responded: The ADMISSIONS table seems to be the most relevant for this query. Let's check its schema.


CREATE TABLE "ADMISSIONS" (
	row_id BIGINT,
	subject_id BIGINT,
	hadm_id BIGINT,
	admittime TEXT,
	dischtime TEXT,
	deathtime TEXT,
	admission_type TEXT,
	admission_location TEXT,
	discharge_location TEXT,
	insurance TEXT,
	language TEXT,
	religion TEXT,
	marital_status TEXT,
	ethnicity TEXT,
	edregtime TEXT,
	edouttime TEXT,
	diagnosis TEXT,
	hospital_expire_flag BIGINT,
	has_chartevents_data BIGINT
)

/*
3 rows from ADMISSIONS table:
row_id	subject_id	hadm_id	admittime	dischtime	deathtime	admission_type	admission_location	discharge_location	insurance	language	religion	marital_status	ethnicity	edregtime	edouttime	diagnosis	hospital_expire_flag	has_chartevents_data
12258	10006	142345	2164-10-23 21:09:00	2164-11-01 17:15:00	None	EMERGENCY	EMERGENCY ROOM ADMIT	HOME HEALTH CARE	Medicare	None	CATHOLIC	SEPARATED	BLACK/AFRICAN AMERICAN	2164-10-23 16:43:00	2164-10-23 23:00:00	SEPSIS	0	1
12263	10011	105331	2126-08-14 22:32:00	2126-08-28 18:59:00	2126-08-28 18:59:00	EMERGENCY	TRANSFER FROM HOSP/EXTRAM	DEAD/EXPIRED	Private	None	CATHOLIC	SINGLE	UNKNOWN/NOT SPECIFIED	None	None	HEPATITIS B	1	1
12265	10013	165520	2125-10-04 23:36:00	2125-10-07 15:13:00	2125-10-07 15:13:00	EMERGENCY	TRANSFER FROM HOSP/EXTRAM	DEAD/EXPIRED	Medicare	None	CATHOLIC	None	UNKNOWN/NOT SPECIFIED	None	None	SEPSIS	1	1
*/
Invoking: `sql_db_query_checker` with `{'query': 'SELECT COUNT(*) FROM ADMISSIONS WHERE subject_id = 10013'}`
responded: The ADMISSIONS table has a field named 'subject_id' which seems to be the unique identifier for a patient. To find the total number of admissions for the patient with id 10013, we can count the number of rows in the ADMISSIONS table where 'subject_id' is 10013. Let's write a SQL query for this.

SELECT COUNT(*) FROM ADMISSIONS WHERE subject_id = 10013
Invoking: `sql_db_query` with `{'query': 'SELECT COUNT(*) FROM ADMISSIONS WHERE subject_id = 10013'}`


[(1,)]The patient with the ID 10013 has been admitted to the hospital once.

> Finished chain.

{'input': 'How many total admissions are present of 10013',
 'output': 'The patient with the ID 10013 has been admitted to the hospital once.'}

In [65]:
agent.invoke("Can you identify all subject id with sepsis")

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


ADMISSIONS, CALLOUT, CAREGIVERS, CHARTEVENTS, CPTEVENTS, DATETIMEEVENTS, DIAGNOSES_ICD, DRGCODES, D_CPT, D_ICD_DIAGNOSES, D_ICD_PROCEDURES, D_ITEMS, D_LABITEMS, ICUSTAYS, INPUTEVENTS_CV, INPUTEVENTS_MV, LABEVENTS, MICROBIOLOGYEVENTS, NOTEEVENTS, OUTPUTEVENTS, PATIENTS, PRESCRIPTIONS, PROCEDUREEVENTS_MV, PROCEDURES_ICD, SERVICES, TRANSFERS
Invoking: `sql_db_schema` with `{'table_names': 'DIAGNOSES_ICD'}`
responded: The DIAGNOSES_ICD table seems to be the most relevant one as it contains the ICD codes for diagnoses. Let's check its schema.


CREATE TABLE "DIAGNOSES_ICD" (
	row_id BIGINT,
	subject_id BIGINT,
	hadm_id BIGINT,
	seq_num BIGINT,
	icd9_code TEXT
)

/*
3 rows from DIAGNOSES_ICD table:
row_id	subject_id	hadm_id	seq_num	icd9_code
112344	10006	142345	1	99591
112345	10006	142345	2	99662
112346	10006	142345	3	5672
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT DISTINCT subject_id FROM DIAGNOSES_ICD WHERE icd9_code = '99591'"}`
responded: The DIAGNOSES_ICD table contains the following columns:

- row_id: a unique identifier for each row
- subject_id: a unique identifier for each patient
- hadm_id: a unique identifier for each hospital admission
- seq_num: the sequence number of the diagnosis
- icd9_code: the ICD-9 code for the diagnosis

The ICD-9 code for sepsis is 995.91. Let's use this information to query the subject_id of patients diagnosed with sepsis.

SELECT DISTINCT subject_id FROM DIAGNOSES_ICD WHERE icd9_code = '99591'
Invoking: `sql_db_query` with `{'query': "SELECT DISTINCT subject_id FROM DIAGNOSES_ICD WHERE icd9_code = '99591'"}`


[(10006,), (10038,), (10088,), (10124,), (10132,), (40612,), (40655,), (41976,)]The subject IDs of patients diagnosed with sepsis are: 10006, 10038, 10088, 10124, 10132, 40612, 40655, and 41976.

> Finished chain.

{'input': 'Can you identify all subject id with sepsis',
 'output': 'The subject IDs of patients diagnosed with sepsis are: 10006, 10038, 10088, 10124, 10132, 40612, 40655, and 41976.'}

In [66]:
agent.invoke("What does diagnosis code 99591 means")

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


ADMISSIONS, CALLOUT, CAREGIVERS, CHARTEVENTS, CPTEVENTS, DATETIMEEVENTS, DIAGNOSES_ICD, DRGCODES, D_CPT, D_ICD_DIAGNOSES, D_ICD_PROCEDURES, D_ITEMS, D_LABITEMS, ICUSTAYS, INPUTEVENTS_CV, INPUTEVENTS_MV, LABEVENTS, MICROBIOLOGYEVENTS, NOTEEVENTS, OUTPUTEVENTS, PATIENTS, PRESCRIPTIONS, PROCEDUREEVENTS_MV, PROCEDURES_ICD, SERVICES, TRANSFERS
Invoking: `sql_db_schema` with `{'table_names': 'D_ICD_DIAGNOSES'}`
responded: The table that contains the definitions for the ICD codes is D_ICD_DIAGNOSES. Let's check the schema of this table.


CREATE TABLE "D_ICD_DIAGNOSES" (
	row_id BIGINT,
	icd9_code TEXT,
	short_title TEXT,
	long_title TEXT
)

/*
3 rows from D_ICD_DIAGNOSES table:
row_id	icd9_code	short_title	long_title
1	01716	Erythem nod tb-oth test	Erythema nodosum with hypersensitivity reaction in tuberculosis, tubercle bacilli not found by bacte
2	01720	TB periph lymph-unspec	Tuberculosis of peripheral lymph nodes, unspecified
3	01721	TB periph lymph-no exam	Tuberculosis of peripheral lymph nodes, bacteriological or histological examination not done
*/
Invoking: `sql_db_query` with `{'query': "SELECT * FROM D_ICD_DIAGNOSES WHERE icd9_code = '99591'"}`


[(11403, '99591', 'Sepsis', 'Sepsis')]The diagnosis code 99591 refers to 'Sepsis'.

> Finished chain.

{'input': 'What does diagnosis code 99591 means',
 'output': "The diagnosis code 99591 refers to 'Sepsis'."}

In [72]:
agent.invoke("identify all subject id with all types of sepsis show every icd with title containing sepsis")

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


ADMISSIONS, CALLOUT, CAREGIVERS, CHARTEVENTS, CPTEVENTS, DATETIMEEVENTS, DIAGNOSES_ICD, DRGCODES, D_CPT, D_ICD_DIAGNOSES, D_ICD_PROCEDURES, D_ITEMS, D_LABITEMS, ICUSTAYS, INPUTEVENTS_CV, INPUTEVENTS_MV, LABEVENTS, MICROBIOLOGYEVENTS, NOTEEVENTS, OUTPUTEVENTS, PATIENTS, PRESCRIPTIONS, PROCEDUREEVENTS_MV, PROCEDURES_ICD, SERVICES, TRANSFERS
Invoking: `sql_db_schema` with `{'table_names': 'DIAGNOSES_ICD, D_ICD_DIAGNOSES'}`
responded: The tables DIAGNOSES_ICD and D_ICD_DIAGNOSES seem to be the most relevant for this task. DIAGNOSES_ICD contains the ICD codes for each patient and D_ICD_DIAGNOSES provides the description for each ICD code. Let's check the schema of these tables.


CREATE TABLE "DIAGNOSES_ICD" (
	row_id BIGINT,
	subject_id BIGINT,
	hadm_id BIGINT,
	seq_num BIGINT,
	icd9_code TEXT
)

/*
3 rows from DIAGNOSES_ICD table:
row_id	subject_id	hadm_id	seq_num	icd9_code
112344	10006	142345	1	99591
112345	10006	142345	2	99662
112346	10006	142345	3	5672
*/


CREATE TABLE "D_ICD_DIAGNOSES" (
	row_id BIGINT,
	icd9_code TEXT,
	short_title TEXT,
	long_title TEXT
)

/*
3 rows from D_ICD_DIAGNOSES table:
row_id	icd9_code	short_title	long_title
1	01716	Erythem nod tb-oth test	Erythema nodosum with hypersensitivity reaction in tuberculosis, tubercle bacilli not found by bacte
2	01720	TB periph lymph-unspec	Tuberculosis of peripheral lymph nodes, unspecified
3	01721	TB periph lymph-no exam	Tuberculosis of peripheral lymph nodes, bacteriological or histological examination not done
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT d.SUBJECT_ID, d.ICD9_CODE, i.SHORT_TITLE, i.LONG_TITLE FROM DIAGNOSES_ICD d JOIN D_ICD_DIAGNOSES i ON d.ICD9_CODE = i.ICD9_CODE WHERE i.LONG_TITLE LIKE '%sepsis%' OR i.SHORT_TITLE LIKE '%sepsis%'"}`
responded: The DIAGNOSES_ICD table contains the columns 'subject_id', 'hadm_id', and 'icd9_code'. The D_ICD_DIAGNOSES table contains the columns 'icd9_code', 'short_title', and 'long_title'.

We can join these two tables on the 'icd9_code' column to get the ICD codes and their descriptions for each patient. We can then filter the results to only include rows where the 'long_title' or 'short_title' contains the word 'sepsis'.

Let's write a SQL query to do this.

SELECT d.SUBJECT_ID, d.ICD9_CODE, i.SHORT_TITLE, i.LONG_TITLE FROM DIAGNOSES_ICD d JOIN D_ICD_DIAGNOSES i ON d.ICD9_CODE = i.ICD9_CODE WHERE i.LONG_TITLE LIKE '%sepsis%' OR i.SHORT_TITLE LIKE '%sepsis%'
Invoking: `sql_db_query` with `{'query': "SELECT d.SUBJECT_ID, d.ICD9_CODE, i.SHORT_TITLE, i.LONG_TITLE FROM DIAGNOSES_ICD d JOIN D_ICD_DIAGNOSES i ON d.ICD9_CODE = i.ICD9_CODE WHERE i.LONG_TITLE LIKE '%sepsis%' OR i.SHORT_TITLE LIKE '%sepsis%'"}`


[(10006, '99591', 'Sepsis', 'Sepsis'), (10038, '99591', 'Sepsis', 'Sepsis'), (10088, '99591', 'Sepsis', 'Sepsis'), (10124, '99591', 'Sepsis', 'Sepsis'), (10132, '99591', 'Sepsis', 'Sepsis'), (40612, '99591', 'Sepsis', 'Sepsis'), (40655, '99591', 'Sepsis', 'Sepsis'), (41976, '99591', 'Sepsis', 'Sepsis'), (41976, '99591', 'Sepsis', 'Sepsis'), (41976, '99591', 'Sepsis', 'Sepsis'), (10019, '99592', 'Severe sepsis', 'Severe sepsis'), (10029, '99592', 'Severe sepsis', 'Severe sepsis'), (10036, '99592', 'Severe sepsis', 'Severe sepsis'), (10045, '99592', 'Severe sepsis', 'Severe sepsis'), (10056, '99592', 'Severe sepsis', 'Severe sepsis'), (10059, '99592', 'Severe sepsis', 'Severe sepsis'), (10076, '99592', 'Severe sepsis', 'Severe sepsis'), (10088, '99592', 'Severe sepsis', 'Severe sepsis'), (10094, '99592', 'Severe sepsis', 'Severe sepsis'), (10120, '99592', 'Severe sepsis', 'Severe sepsis'), (40177, '99592', 'Severe sepsis', 'Severe sepsis'), (41914, '99592', 'Severe sepsis', 'Severe sepsis'), (41976, '99592', 'Severe sepsis', 'Severe sepsis'), (41976, '99592', 'Severe sepsis', 'Severe sepsis'), (41976, '99592', 'Severe sepsis', 'Severe sepsis'), (41976, '99592', 'Severe sepsis', 'Severe sepsis'), (41976, '99592', 'Severe sepsis', 'Severe sepsis'), (41976, '99592', 'Severe sepsis', 'Severe sepsis'), (41976, '99592', 'Severe sepsis', 'Severe sepsis'), (41976, '99592', 'Severe sepsis', 'Severe sepsis'), (41976, '99592', 'Severe sepsis', 'Severe sepsis'), (42135, '99592', 'Severe sepsis', 'Severe sepsis'), (44154, '99592', 'Severe sepsis', 'Severe sepsis'), (44212, '99592', 'Severe sepsis', 'Severe sepsis'), (44228, '99592', 'Severe sepsis', 'Severe sepsis')]Here are some of the patients (subject_id) with ICD codes and titles containing 'sepsis':

- Patient 10006 has ICD code 99591, which corresponds to 'Sepsis'.
- Patient 10038 has ICD code 99591, which corresponds to 'Sepsis'.
- Patient 10088 has ICD code 99591, which corresponds to 'Sepsis'.
- Patient 10124 has ICD code 99591, which corresponds to 'Sepsis'.
- Patient 10132 has ICD code 99591, which corresponds to 'Sepsis'.
- Patient 40612 has ICD code 99591, which corresponds to 'Sepsis'.
- Patient 40655 has ICD code 99591, which corresponds to 'Sepsis'.
- Patient 41976 has ICD code 99591, which corresponds to 'Sepsis'.
- Patient 10019 has ICD code 99592, which corresponds to 'Severe sepsis'.
- Patient 10029 has ICD code 99592, which corresponds to 'Severe sepsis'.
- Patient 10036 has ICD code 99592, which corresponds to 'Severe sepsis'.
- Patient 10045 has ICD code 99592, which corresponds to 'Severe sepsis'.
- Patient 10056 has ICD code 99592, which corresponds to 'Severe sepsis'.
- Patient 10059 has ICD code 99592, which corresponds to 'Severe sepsis'.
- Patient 10076 has ICD code 99592, which corresponds to 'Severe sepsis'.
- Patient 10088 has ICD code 99592, which corresponds to 'Severe sepsis'.
- Patient 10094 has ICD code 99592, which corresponds to 'Severe sepsis'.
- Patient 10120 has ICD code 99592, which corresponds to 'Severe sepsis'.
- Patient 40177 has ICD code 99592, which corresponds to 'Severe sepsis'.
- Patient 41914 has ICD code 99592, which corresponds to 'Severe sepsis'.
- Patient 41976 has ICD code 99592, which corresponds to 'Severe sepsis'.
- Patient 42135 has ICD code 99592, which corresponds to 'Severe sepsis'.
- Patient 44154 has ICD code 99592, which corresponds to 'Severe sepsis'.
- Patient 44212 has ICD code 99592, which corresponds to 'Severe sepsis'.
- Patient 44228 has ICD code 99592, which corresponds to 'Severe sepsis'.

Please note that this is not the complete list. There are more patients with ICD codes and titles containing 'sepsis'.

> Finished chain.

{'input': 'identify all subject id with all types of sepsis show every icd with title containing sepsis',
 'output': "Here are some of the patients (subject_id) with ICD codes and titles containing 'sepsis':\n\n- Patient 10006 has ICD code 99591, which corresponds to 'Sepsis'.\n- Patient 10038 has ICD code 99591, which corresponds to 'Sepsis'.\n- Patient 10088 has ICD code 99591, which corresponds to 'Sepsis'.\n- Patient 10124 has ICD code 99591, which corresponds to 'Sepsis'.\n- Patient 10132 has ICD code 99591, which corresponds to 'Sepsis'.\n- Patient 40612 has ICD code 99591, which corresponds to 'Sepsis'.\n- Patient 40655 has ICD code 99591, which corresponds to 'Sepsis'.\n- Patient 41976 has ICD code 99591, which corresponds to 'Sepsis'.\n- Patient 10019 has ICD code 99592, which corresponds to 'Severe sepsis'.\n- Patient 10029 has ICD code 99592, which corresponds to 'Severe sepsis'.\n- Patient 10036 has ICD code 99592, which corresponds to 'Severe sepsis'.\n- Patient 10045 has ICD code 99592, which corresponds to 'Severe sepsis'.\n- Patient 10056 has ICD code 99592, which corresponds to 'Severe sepsis'.\n- Patient 10059 has ICD code 99592, which corresponds to 'Severe sepsis'.\n- Patient 10076 has ICD code 99592, which corresponds to 'Severe sepsis'.\n- Patient 10088 has ICD code 99592, which corresponds to 'Severe sepsis'.\n- Patient 10094 has ICD code 99592, which corresponds to 'Severe sepsis'.\n- Patient 10120 has ICD code 99592, which corresponds to 'Severe sepsis'.\n- Patient 40177 has ICD code 99592, which corresponds to 'Severe sepsis'.\n- Patient 41914 has ICD code 99592, which corresponds to 'Severe sepsis'.\n- Patient 41976 has ICD code 99592, which corresponds to 'Severe sepsis'.\n- Patient 42135 has ICD code 99592, which corresponds to 'Severe sepsis'.\n- Patient 44154 has ICD code 99592, which corresponds to 'Severe sepsis'.\n- Patient 44212 has ICD code 99592, which corresponds to 'Severe sepsis'.\n- Patient 44228 has ICD code 99592, which corresponds to 'Severe sepsis'.\n\nPlease note that this is not the complete list. There are more patients with ICD codes and titles containing 'sepsis'."}

### Langserve

In [73]:
!pip install -U langchain-cli

Collecting langchain-cli
  Downloading langchain_cli-0.0.21-py3-none-any.whl.metadata (1.3 kB)
Collecting gitpython<4.0.0,>=3.1.40 (from langchain-cli)
  Downloading GitPython-3.1.43-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: langserve>=0.0.16 in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from langserve[all]>=0.0.16->langchain-cli) (0.1.1)
Collecting tomlkit<0.13.0,>=0.12.2 (from langchain-cli)
  Downloading tomlkit-0.12.4-py3-none-any.whl.metadata (2.7 kB)
Collecting typer<0.10.0,>=0.9.0 (from typer[all]<0.10.0,>=0.9.0->langchain-cli)
  Downloading typer-0.9.4-py3-none-any.whl.metadata (14 kB)
Collecting uvicorn<0.24.0,>=0.23.2 (from langchain-cli)
  Downloading uvicorn-0.23.2-py3-none-any.whl.metadata (6.2 kB)
Collecting gitdb<5,>=4.0.1 (from gitpython<4.0.0,>=3.1.40->langchain-cli)
  Downloading gitdb-4.0.11-py3-none-any.whl.metadata (1.2 kB)
Requirement already satisfied: httpx>=0.23.0 in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from langserve>=0.0.16->langserve[all]>=0.0.16->langchain-cli) (0.27.0)
Requirement already satisfied: langchain-core<0.2.0,>=0.1.0 in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from langserve>=0.0.16->langserve[all]>=0.0.16->langchain-cli) (0.1.48)
Requirement already satisfied: orjson>=2 in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from langserve>=0.0.16->langserve[all]>=0.0.16->langchain-cli) (3.10.2)
Requirement already satisfied: pydantic>=1 in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from langserve>=0.0.16->langserve[all]>=0.0.16->langchain-cli) (2.7.1)
Collecting fastapi<1,>=0.90.1 (from langserve[all]>=0.0.16->langchain-cli)
  Downloading fastapi-0.111.0-py3-none-any.whl.metadata (25 kB)
Collecting sse-starlette<2.0.0,>=1.3.0 (from langserve[all]>=0.0.16->langchain-cli)
  Downloading sse_starlette-1.8.2-py3-none-any.whl.metadata (5.4 kB)
Collecting click<9.0.0,>=7.1.1 (from typer<0.10.0,>=0.9.0->typer[all]<0.10.0,>=0.9.0->langchain-cli)
  Downloading click-8.1.7-py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from typer<0.10.0,>=0.9.0->typer[all]<0.10.0,>=0.9.0->langchain-cli) (4.7.1)
Requirement already satisfied: colorama<0.5.0,>=0.4.3 in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from typer[all]<0.10.0,>=0.9.0->langchain-cli) (0.4.6)
Collecting shellingham<2.0.0,>=1.3.0 (from typer[all]<0.10.0,>=0.9.0->langchain-cli)
  Downloading shellingham-1.5.4-py2.py3-none-any.whl.metadata (3.5 kB)
Collecting rich<14.0.0,>=10.11.0 (from typer[all]<0.10.0,>=0.9.0->langchain-cli)
  Downloading rich-13.7.1-py3-none-any.whl.metadata (18 kB)
Requirement already satisfied: h11>=0.8 in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from uvicorn<0.24.0,>=0.23.2->langchain-cli) (0.14.0)
Collecting starlette<0.38.0,>=0.37.2 (from fastapi<1,>=0.90.1->langserve[all]>=0.0.16->langchain-cli)
  Downloading starlette-0.37.2-py3-none-any.whl.metadata (5.9 kB)
Collecting typing-extensions>=3.7.4.3 (from typer<0.10.0,>=0.9.0->typer[all]<0.10.0,>=0.9.0->langchain-cli)
  Downloading typing_extensions-4.11.0-py3-none-any.whl.metadata (3.0 kB)
Collecting fastapi-cli>=0.0.2 (from fastapi<1,>=0.90.1->langserve[all]>=0.0.16->langchain-cli)
  Downloading fastapi_cli-0.0.2-py3-none-any.whl.metadata (6.8 kB)
Requirement already satisfied: jinja2>=2.11.2 in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from fastapi<1,>=0.90.1->langserve[all]>=0.0.16->langchain-cli) (3.1.2)
Collecting python-multipart>=0.0.7 (from fastapi<1,>=0.90.1->langserve[all]>=0.0.16->langchain-cli)
  Downloading python_multipart-0.0.9-py3-none-any.whl.metadata (2.5 kB)
Collecting ujson!=4.0.2,!=4.1.0,!=4.2.0,!=4.3.0,!=5.0.0,!=5.1.0,>=4.0.1 (from fastapi<1,>=0.90.1->langserve[all]>=0.0.16->langchain-cli)
  Downloading ujson-5.9.0-cp310-cp310-win_amd64.whl.metadata (8.9 kB)
Collecting email_validator>=2.0.0 (from fastapi<1,>=0.90.1->langserve[all]>=0.0.16->langchain-cli)
  Downloading email_validator-2.1.1-py3-none-any.whl.metadata (26 kB)
Collecting smmap<6,>=3.0.1 (from gitdb<5,>=4.0.1->gitpython<4.0.0,>=3.1.40->langchain-cli)
  Downloading smmap-5.0.1-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: anyio in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from httpx>=0.23.0->langserve>=0.0.16->langserve[all]>=0.0.16->langchain-cli) (3.5.0)
Requirement already satisfied: certifi in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from httpx>=0.23.0->langserve>=0.0.16->langserve[all]>=0.0.16->langchain-cli) (2024.2.2)
Requirement already satisfied: httpcore==1.* in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from httpx>=0.23.0->langserve>=0.0.16->langserve[all]>=0.0.16->langchain-cli) (1.0.5)
Requirement already satisfied: idna in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from httpx>=0.23.0->langserve>=0.0.16->langserve[all]>=0.0.16->langchain-cli) (3.4)
Requirement already satisfied: sniffio in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from httpx>=0.23.0->langserve>=0.0.16->langserve[all]>=0.0.16->langchain-cli) (1.2.0)
Requirement already satisfied: PyYAML>=5.3 in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from langchain-core<0.2.0,>=0.1.0->langserve>=0.0.16->langserve[all]>=0.0.16->langchain-cli) (6.0)
Requirement already satisfied: jsonpatch<2.0,>=1.33 in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from langchain-core<0.2.0,>=0.1.0->langserve>=0.0.16->langserve[all]>=0.0.16->langchain-cli) (1.33)
Requirement already satisfied: langsmith<0.2.0,>=0.1.0 in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from langchain-core<0.2.0,>=0.1.0->langserve>=0.0.16->langserve[all]>=0.0.16->langchain-cli) (0.1.52)
Requirement already satisfied: packaging<24.0,>=23.2 in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from langchain-core<0.2.0,>=0.1.0->langserve>=0.0.16->langserve[all]>=0.0.16->langchain-cli) (23.2)
Requirement already satisfied: tenacity<9.0.0,>=8.1.0 in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from langchain-core<0.2.0,>=0.1.0->langserve>=0.0.16->langserve[all]>=0.0.16->langchain-cli) (8.2.3)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from pydantic>=1->langserve>=0.0.16->langserve[all]>=0.0.16->langchain-cli) (0.6.0)
Requirement already satisfied: pydantic-core==2.18.2 in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from pydantic>=1->langserve>=0.0.16->langserve[all]>=0.0.16->langchain-cli) (2.18.2)
Collecting markdown-it-py>=2.2.0 (from rich<14.0.0,>=10.11.0->typer[all]<0.10.0,>=0.9.0->langchain-cli)
  Downloading markdown_it_py-3.0.0-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from rich<14.0.0,>=10.11.0->typer[all]<0.10.0,>=0.9.0->langchain-cli) (2.15.1)
Collecting dnspython>=2.0.0 (from email_validator>=2.0.0->fastapi<1,>=0.90.1->langserve[all]>=0.0.16->langchain-cli)
  Downloading dnspython-2.6.1-py3-none-any.whl.metadata (5.8 kB)
INFO: pip is looking at multiple versions of fastapi-cli to determine which version is compatible with other requirements. This could take a while.
Collecting fastapi<1,>=0.90.1 (from langserve[all]>=0.0.16->langchain-cli)
  Downloading fastapi-0.110.3-py3-none-any.whl.metadata (24 kB)
Requirement already satisfied: jsonpointer>=1.9 in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from jsonpatch<2.0,>=1.33->langchain-core<0.2.0,>=0.1.0->langserve>=0.0.16->langserve[all]>=0.0.16->langchain-cli) (2.4)
Requirement already satisfied: requests<3,>=2 in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from langsmith<0.2.0,>=0.1.0->langchain-core<0.2.0,>=0.1.0->langserve>=0.0.16->langserve[all]>=0.0.16->langchain-cli) (2.31.0)
Collecting mdurl~=0.1 (from markdown-it-py>=2.2.0->rich<14.0.0,>=10.11.0->typer[all]<0.10.0,>=0.9.0->langchain-cli)
  Downloading mdurl-0.1.2-py3-none-any.whl.metadata (1.6 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from requests<3,>=2->langsmith<0.2.0,>=0.1.0->langchain-core<0.2.0,>=0.1.0->langserve>=0.0.16->langserve[all]>=0.0.16->langchain-cli) (2.0.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\mtalh\onedrive\desktop\ml\conda\env\lib\site-packages (from requests<3,>=2->langsmith<0.2.0,>=0.1.0->langchain-core<0.2.0,>=0.1.0->langserve>=0.0.16->langserve[all]>=0.0.16->langchain-cli) (2.2.1)
Downloading langchain_cli-0.0.21-py3-none-any.whl (41 kB)
   ---------------------------------------- 0.0/41.5 kB ? eta -:--:--
   --------- ------------------------------ 10.2/41.5 kB ? eta -:--:--
   ---------------------------------------- 41.5/41.5 kB 495.6 kB/s eta 0:00:00
Downloading GitPython-3.1.43-py3-none-any.whl (207 kB)
   ---------------------------------------- 0.0/207.3 kB ? eta -:--:--
   - -------------------------------------- 10.2/207.3 kB ? eta -:--:--
   ------- ------------------------------- 41.0/207.3 kB 487.6 kB/s eta 0:00:01
   ------- ------------------------------- 41.0/207.3 kB 487.6 kB/s eta 0:00:01
   --------------- ----------------------- 81.9/207.3 kB 456.6 kB/s eta 0:00:01
   ----------------- --------------------- 92.2/207.3 kB 403.5 kB/s eta 0:00:01
   -------------------- ----------------- 112.6/207.3 kB 435.7 kB/s eta 0:00:01
   ---------------------- --------------- 122.9/207.3 kB 423.5 kB/s eta 0:00:01
   ------------------------------ ------- 163.8/207.3 kB 446.5 kB/s eta 0:00:01
   ------------------------------- ------ 174.1/207.3 kB 436.9 kB/s eta 0:00:01
   -------------------------------------  204.8/207.3 kB 444.2 kB/s eta 0:00:01
   -------------------------------------- 207.3/207.3 kB 435.1 kB/s eta 0:00:00
Downloading tomlkit-0.12.4-py3-none-any.whl (37 kB)
Downloading typer-0.9.4-py3-none-any.whl (45 kB)
   ---------------------------------------- 0.0/46.0 kB ? eta -:--:--
   -------- ------------------------------- 10.2/46.0 kB ? eta -:--:--
   ---------------------------------------- 46.0/46.0 kB 760.3 kB/s eta 0:00:00
Downloading uvicorn-0.23.2-py3-none-any.whl (59 kB)
   ---------------------------------------- 0.0/59.5 kB ? eta -:--:--
   ------------- -------------------------- 20.5/59.5 kB ? eta -:--:--
   ---------------------------------- ----- 51.2/59.5 kB 890.4 kB/s eta 0:00:01
   ---------------------------------------- 59.5/59.5 kB 632.1 kB/s eta 0:00:00
Downloading click-8.1.7-py3-none-any.whl (97 kB)
   ---------------------------------------- 0.0/97.9 kB ? eta -:--:--
   ------------ --------------------------- 30.7/97.9 kB 1.3 MB/s eta 0:00:01
   ---------------- ----------------------- 41.0/97.9 kB 653.6 kB/s eta 0:00:01
   ------------------------- -------------- 61.4/97.9 kB 469.7 kB/s eta 0:00:01
   ---------------------------------------- 97.9/97.9 kB 562.2 kB/s eta 0:00:00
Downloading fastapi-0.110.3-py3-none-any.whl (91 kB)
   ---------------------------------------- 0.0/91.8 kB ? eta -:--:--
   -------------------------- ------------- 61.4/91.8 kB 3.2 MB/s eta 0:00:01
   -------------------------- ------------- 61.4/91.8 kB 3.2 MB/s eta 0:00:01
   -------------------------- ------------- 61.4/91.8 kB 3.2 MB/s eta 0:00:01
   ---------------------------------------- 91.8/91.8 kB 474.4 kB/s eta 0:00:00
Downloading gitdb-4.0.11-py3-none-any.whl (62 kB)
   ---------------------------------------- 0.0/62.7 kB ? eta -:--:--
   ------------------- -------------------- 30.7/62.7 kB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 62.7/62.7 kB 672.8 kB/s eta 0:00:00
Downloading rich-13.7.1-py3-none-any.whl (240 kB)
   ---------------------------------------- 0.0/240.7 kB ? eta -:--:--
   ------ --------------------------------- 41.0/240.7 kB ? eta -:--:--
   ---------- ----------------------------- 61.4/240.7 kB 1.7 MB/s eta 0:00:01
   ------------- ------------------------- 81.9/240.7 kB 573.4 kB/s eta 0:00:01
   ----------------- -------------------- 112.6/240.7 kB 595.3 kB/s eta 0:00:01
   ---------------------- --------------- 143.4/240.7 kB 655.8 kB/s eta 0:00:01
   ------------------------- ------------ 163.8/240.7 kB 614.4 kB/s eta 0:00:01
   ------------------------------ ------- 194.6/240.7 kB 655.9 kB/s eta 0:00:01
   ----------------------------------- -- 225.3/240.7 kB 626.9 kB/s eta 0:00:01
   -------------------------------------- 240.7/240.7 kB 614.5 kB/s eta 0:00:00
Downloading shellingham-1.5.4-py2.py3-none-any.whl (9.8 kB)
Downloading sse_starlette-1.8.2-py3-none-any.whl (8.9 kB)
Downloading typing_extensions-4.11.0-py3-none-any.whl (34 kB)
Downloading markdown_it_py-3.0.0-py3-none-any.whl (87 kB)
   ---------------------------------------- 0.0/87.5 kB ? eta -:--:--
   ------------------------------------- -- 81.9/87.5 kB 4.5 MB/s eta 0:00:01
   ------------------------------------- -- 81.9/87.5 kB 4.5 MB/s eta 0:00:01
   ------------------------------------- -- 81.9/87.5 kB 4.5 MB/s eta 0:00:01
   ---------------------------------------- 87.5/87.5 kB 548.1 kB/s eta 0:00:00
Downloading smmap-5.0.1-py3-none-any.whl (24 kB)
Downloading starlette-0.37.2-py3-none-any.whl (71 kB)
   ---------------------------------------- 0.0/71.9 kB ? eta -:--:--
   ---------------------------------------- 71.9/71.9 kB 1.3 MB/s eta 0:00:00
Downloading mdurl-0.1.2-py3-none-any.whl (10.0 kB)
Installing collected packages: typing-extensions, tomlkit, smmap, shellingham, mdurl, click, uvicorn, typer, starlette, markdown-it-py, gitdb, rich, gitpython, fastapi, sse-starlette, langchain-cli
  Attempting uninstall: typing-extensions
    Found existing installation: typing_extensions 4.7.1
    Uninstalling typing_extensions-4.7.1:
      Successfully uninstalled typing_extensions-4.7.1
Successfully installed click-8.1.7 fastapi-0.110.3 gitdb-4.0.11 gitpython-3.1.43 langchain-cli-0.0.21 markdown-it-py-3.0.0 mdurl-0.1.2 rich-13.7.1 shellingham-1.5.4 smmap-5.0.1 sse-starlette-1.8.2 starlette-0.37.2 tomlkit-0.12.4 typer-0.9.4 typing-extensions-4.11.0 uvicorn-0.23.2

In [ ]:
from sqlalchemy import create_engine

# Create a SQLAlchemy engine to connect to the SQLite database
engine = create_engine("sqlite:///C:\\Users\\mtalh\\OneDrive\\Desktop\\ML\\Xavor\\bootcamp\\langserve_medicalmind\\mimic3.db")

In [4]:

# Connect to the engine
connection = engine.connect()

In [6]:
result = connection.execute(text("SELECT * FROM ADMISSIONS"))
result